body {
    background-color: rgb(236, 207, 236);
    height: 100% !important;
    font-family: Poppins;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: purple;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: rgb(141, 69, 141);
}

.signup-container p {
    margin-top: 15px;
}

.signup-container a {
    color: #007BFF;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}