<div class = "home">
  <app-commentheader class="searchheader"></app-commentheader>
</div>

<div class="row d-flex justify-content-center" style="background-color: rgb(236, 207, 236);">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-0 border" style="background-color: #f0f2f5;">
        <div class="card-body p-4">
          <div class="form-outline mb-4">
            <input type="text" id="addANote" class="form-control" placeholder="Type comment..." />
            <app-delbtn text="Post"></app-delbtn>
          </div>
            <app-comment task = "Water Plants" user = "Bill" text = "Too hard!" likes="2"></app-comment>
            <app-comment task = "Set up a cleaning schedule for regular maintenance tasks" user = "Mary" text = "Make this task more specific" likes = "1"></app-comment>
            <app-comment task = "Sort and donate unused clothes from the closet" user = "Bill" text = "Already done last week" likes = "3"></app-comment>
        </div>
      </div>
    </div>
  </div>
