/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.holder {
  background-color: bisque;
  min-height: 100%;
  border: 1px solid steelblue;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: left;
}

.total {
  background-color: lightblue;
  min-height: 100px;
  border: 1px solid steelblue;
  padding: 30px;
  width: 45%;
  margin-right: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: xx-large;
}
.complete {
  background-color: lightblue;
  width: 45%;
  min-height: 100px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  font-size: xx-large;
}

.detailheader {
  display: flex;
  justify-content: left;
  text-align: center;
  color: white;
  min-height: 40px;
  border: 1px solid steelblue;
  background: skyblue;
  font-size: 20px;
  vertical-align: middle;
}
.title {
  color: white;
  text-align: center;
  font-size: 80px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  
}
.home {
  position: relative;
  background-color: rgb(236, 207, 236);
  
}

.sughome {
  position: relative;
  background-color: rgb(236, 207, 236);
  height: 100%;
  font-family: Impact;
  font-size: 40px;
}

.sug {
  justify-self: left !important;
}

.homebtn {
  margin-right: 0%;
}

.input {
  margin: 0;
  margin-left: 200px;
  border: none;
  border-radius: 0;
  width: 250px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
}

.card {

  justify-content: center;
  color: white;
  padding: 10px;
  min-height: 40px;
  border: 1px solid steelblue;
  background: skyblue;
  font-size: 20px;
  
}

.response {
  color: rgb(59, 52, 52); 
  font-family: impact; 
  font-size: 24px; 
  line-height: 32px; 
  line-height:200%;
  white-space: pre-line; 
  margin-left: 40px;
  margin-top: 40px;
}

.input2 {
  margin-top: 10px;
  border-radius: 1;
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: 16px;
}

.remaining {
  font-size: xx-large;
}
.check {
  height: 20px;
  width: 20px;
  color: white;
  white-space: 5px;
  vertical-align: middle;
  margin-right: 10px;
}

item {
  display:flex;
  vertical-align: middle;
}
.task {
  background: rgb(131, 86, 131);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px 20px;
  border-radius: 10cm;
  position: relative;
  color: #fff;
  font-family: impact;
  font-size: 20px;
}

.break{
  height: 2%;
  background-color: rgb(236, 207, 236);
}
searchheader {
  display: flex !important;
}
.searchheader {
  display:flex;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #020024 0%,  purple 100%);
  min-height: 50px;
  padding-bottom: 5px;
  
  
  
}
.container {
  
  background-image: linear-gradient(90deg, #020024 0%,  purple 100%);
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  width: 100%;
  
  padding: 30px;
  
  
  
}

.btn2 {
  display: inline-block;
  background: lightslategray;
  color: #fff;
  height: 70px;
  border: none;
  padding: 10px 30px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn {
  display: inline-block;
  background: rgb(180, 143, 204);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: impact;
}



.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.search {
  justify-self:right !important;
}
.delete-button {
  background-color: rgb(102, 57, 57) !important;
  font-size: small ;
  padding: 5px 10px;
  margin-left: 20px;

}

.max-w {
  max-width: 100% !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
