/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.title {
  color: white;
  text-align: center;
  font-size: 50px;
  
}

.input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 200px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
}


.check {
  height: 20px;
  width: 20px;
  color: white;
  white-space: 5px;
  vertical-align: middle;
  margin-right: 10px;
}

item {
  display:flex;
  vertical-align: middle;
}
.task {
  background: lightgray;
  margin: 5px;
  padding: 10px 20px;
  position: relative;
  

}

searchheader {
  display: flex;
}
.searchheader {
  display: flex !important;
  background-color: skyblue;
  min-height: 50px;
  border: 1px solid steelblue;
  align-items: flex-end;
}
.container {
  
  background-color: lightblue;
  min-height: 100px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.delete-button {
  background-color: red !important;
  font-size: small ;
  padding: 5px 10px;
  margin-left: 40px;

}

